//Mixins
@mixin reset()
  *
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Montserrat'

  a
    text-decoration: none

  li
    list-style: none

@mixin display-flex-row($justify: space-between, $wrap: nowrap)
  display: flex
  justify-content: $justify
  flex-wrap: $wrap
  align-items: center
  padding: 2rem

// @mixin display-flex-around
//   display: flex
//   flex-wrap: wrap
//   justify-content: space-around
//   align-items: center
//   padding: 2rem

@mixin display-flex-column
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

@mixin text-header($wight: 500, $font-size: 3rem)
  color: $dark-color
  font-size: $font-size
  text-align: center
  padding: .3rem
  font-weight: $wight


@mixin animation
  transform: translate3d(-700px, 50px, 0)
  opacity: 0
  transition: 1s

//PlaceHolder
%links
  color: $light-color
  transition: .3s

  &:hover
    color: $primary-color
    cursor: pointer
