header
  display: flex
  justify-content: space-between
  align-items: stretch
  height: 100vh

  .nav-item
    width: 100px
    opacity: .9
    background: linear-gradient(#00545d, #000729)
    border-left: 5px solid #00545d
    position: fixed
    z-index: 10000
    right: 0
    top: 0
    height: 100%
    @include display-flex-column

    ul
      height: 30%
      display: flex
      @include display-flex-column

      li
        font-size: 1.3rem
        @include display-flex-column
        @include links

    .menu
      color: $light-color
      font-size: 2rem
      display: none

.header-contant
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../Images/BackGround.jpg')
  width: 100%
  background-position: center
  background-size: cover
  @include display-flex-column($justify: space-between)

  &-main
    @include display-flex-column($justify: space-between)
    margin: 5rem
    width: 80%

    &-apresentation
      width: 60%
      @include display-flex-column

    &-name
      @include text-header(500)
      color: $light-color
      font-weight: 500

    &-student
      @include text-header(300)
      color: $primary-color
      font-weight: 300
      border-right: white 5px solid
      animation: myAnimationLine .5s infinite normal, disaberName 8s infinite normal steps(26)
      overflow: hidden
      white-space: nowrap

      @keyframes disaberName
        0%
          width: 0

        50%
          width: 41.5rem

        75%
          width: 41.5rem

        100%
          width: 0

      @keyframes myAnimationLine
        100%
          border-right-color: transparent

  section
    position: relative
    width: 100%
    height: 100px
    overflow: hidden

    .wave
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      background: url('../Images/wave.png')
      background-size: 1000px 100px

  @for $i from 1 through 4
    .wave#{$i}
      animation: animate#{i} #{$i}0s linear infinite
      animation-delay: #{$i}s
      bottom: 0
      @i
      opacity: #{'.' + $i + 6}
      @keyframes animate#{i}
        0%
          background-position-x: 0
        100%
          background-position-x: 1000px
   
    .wave1
      z-index: 1000
      opacity: 1
    .wave2
      z-index: 999
      opacity: .9

  // .wave
  //   position: absolute
  //   bottom: 0
  //   left: 0
  //   width: 100%
  //   height: 100%
  //   background: url('../Images/wave.png')
