
.container-project
  background: linear-gradient($light-color, $secondary-bg)
  @include animation
  @include display-flex-column($justify: normal)
  padding-top: 2rem

  &-title
    @include text-header($wight: 300, $font-size: 5rem)
    color: $primary-color
  &-main
    @include display-flex-row($justify: space-around, $wrap: wrap)
    height: 100%
    width: 80%
@for $i from 1 through 4
  .container-project-card
    @include Card
    @include display-flex-column

    &:nth-child(#{$i + n})
      border-color: nth($colors-projects, $i)
      color: nth($colors-projects, $i)
      font-size: 1.1rem
      @if $i != 1
        .contrainer-project-image
          font-size: 5rem

.container-project-list
  @include display-flex-row($justify: space-evenly)

.project1
  background: url(../Images/Projects/Front-End-Online.png)
  width: 27%
  height: 600px
  position: relative
  cursor: alias
  transition: .5s
  @extend %card-hover
  color: $light-color
  @include center-bg

  &:hover
    @include ImageProjectHover('../Images/Projects/Front-End-Online.png')

  .project-card
    &-cover
      text-align: center
    &-title
      font-size: 3rem
      margin: 2rem
    &-description
      font-size: 1.5rem

.other-projects
  display: flex
  flex-wrap: wrap
  width: 70%

@for $i from 2 through 5
  $image: #{ '../Images/Projects/' + nth($images-list, $i) + '.png'}
  .project#{$i}
    background: url($image)
    margin: 15px
    width: 400px
    height: 300px
    position: relative
    cursor: alias
    transition: .5s
    @extend %card-hover
    color: $light-color
    @include center-bg

    &:hover
      @include ImageProjectHover($image)


    .project-card
      &-cover
        text-align: center

      &-title
        font-size: 2rem
        margin: 2rem
      &-description
        font-size: 1.1rem
