header
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../Images/BackGround.jpg')
  background-position: center
  background-size: cover
  @include display-flex-column($justify: space-between)
  animation: ShowHeader 1s
  min-height: 100vh

  @keyframes ShowHeader
    0%
      transform: translate3d(-500px, -500px, 0)
      opacity: 0
    100%
      transform: translate3d(0, 0, 0)
      opacity: 1

  .nav-item
    width: 110px
    opacity: .9
    background: linear-gradient($header-primary, $header-secondary)
    border-left: 10px solid $header-primary
    position: fixed
    z-index: 10000
    right: 0
    top: 0
    height: 100%
    @include display-flex-column($justify: space-around)

    &-menu
      height: 50%
      display: flex
      @include display-flex-column

      li
        font-size: 1.3rem
        @include display-flex-column
        @include links

    &-social
      color: $light-color
      font-size: 2rem
      @include display-flex-column

      li
        margin: 1rem
        transition: .5s
        cursor: pointer

        &:hover
          color: $header-primary
          font-size: 3rem
    .menu
      color: $light-color
      font-size: 2rem
      display: none

.header-contant
  &-main
    @include display-flex-column($justify: space-between)
    margin: 5rem
    width: 100%

    &-apresentation
      width: 60%
      @include display-flex-column

    &-name
      @include text-header($weight: 500)
      color: $light-color
      font-weight: 500

    &-student
      @include text-header(300)
      color: $primary-color
      font-weight: 300
      border-right: white 5px solid
      animation: myAnimationLine .5s infinite normal, disaberName 8s infinite normal steps(26)
      overflow: hidden
      white-space: nowrap

      @keyframes disaberName
        0%
          width: 0

        50%
          width: 41.5rem

        75%
          width: 41.5rem

        100%
          width: 0

      @keyframes myAnimationLine
        100%
          border-right-color: transparent
