@use '../1-bases/_mixins' as mixin
@use '../1-bases/_variables' as var
.skills-container
  @include mixin.display-flex-column($justify: space-between)
  padding-top: 2rem
  width: 100%
  overflow: hidden
  background: var.$light-color
  min-height: 100vh

  &-main
    display: flex
    justify-content: center
    align-items: baseline
    min-height: 90vh

  &-title
    @include mixin.text-header($weight: 300, $font-size: 5rem)
    @include mixin.animation
    color: var.$primary-color
    cursor: alias
    width: 100%
    padding: 0 2rem

  &-ul
    @include mixin.display-flex-row($justify: space-around, $wrap: wrap)
    @include mixin.animation
    position: absolute
    z-index: 1
    width: 1100px

@for $i from 1 through 6
  .skills-container-list:nth-child(#{$i})
    transform-style: preserve-3d
    border-radius: 20px
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .6)
    margin: 2rem
    height: 300px
    width: 250px
    cursor: alias
    background: nth(var.$colors-skills-background, $i)

    .skills-container-circle
      border: 3px solid nth(var.$colors-skills, $i)
      @include mixin.display-flex-column($justify: center)
      position: absolute
      z-index: -1
      top: 50%
      left: 50%
      width: 200px
      height: 200px
      border-radius: 50%
      background: white
      transform: translate3d(-50%, -50%, 50px)

    h3
      font-size: 2rem
      color: nth(var.$colors-skills, $i)

    .icons
      font-size: 4rem
      color: nth(var.$colors-skills, $i)

    li
      text-align: center
      margin: auto
      padding: 2rem
