@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}
header .nav-item {
  width: 100px;
  opacity: 0.9;
  background: linear-gradient(#00545d, #000729);
  border-left: 5px solid #00545d;
  position: fixed;
  z-index: 10000;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .nav-item ul {
  height: 30%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .nav-item ul li {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  transition: 0.5s;
  font-size: 1rem;
  padding: 1rem auto;
}
header .nav-item ul li:hover {
  color: #ff5200;
  cursor: pointer;
  border-bottom: 2px solid #ff5200;
}
header .nav-item .menu {
  color: #FFF;
  font-size: 2rem;
  display: none;
}

.header-contant {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/BackGround.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-contant-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem;
  width: 80%;
}
.header-contant-main-apresentation {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header-contant-main-name {
  color: #181920;
  font-size: 3rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: 500;
  color: #FFF;
  font-weight: 500;
}
.header-contant-main-student {
  color: #181920;
  font-size: 3rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: 300;
  color: #ff5200;
  font-weight: 300;
  border-right: white 5px solid;
  animation: myAnimationLine 0.5s infinite normal, disaberName 8s infinite normal steps(26);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes disaberName {
  0% {
    width: 0;
  }
  50% {
    width: 41.5rem;
  }
  75% {
    width: 41.5rem;
  }
  100% {
    width: 0;
  }
}
@keyframes myAnimationLine {
  100% {
    border-right-color: transparent;
  }
}
.header-contant section {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.header-contant section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Images/wave.png");
  background-size: 1000px 100px;
}
.header-contant .wave1 {
  animation: animatei 10s linear infinite;
  animation-delay: 1s;
  bottom: 0;
  @i;
  opacity: .16;
}
@keyframes animatei {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header-contant .wave1 {
  z-index: 1000;
  opacity: 1;
}
.header-contant .wave2 {
  z-index: 999;
  opacity: 0.9;
}
.header-contant .wave2 {
  animation: animatei 20s linear infinite;
  animation-delay: 2s;
  bottom: 0;
  @i;
  opacity: .26;
}
@keyframes animatei {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header-contant .wave1 {
  z-index: 1000;
  opacity: 1;
}
.header-contant .wave2 {
  z-index: 999;
  opacity: 0.9;
}
.header-contant .wave3 {
  animation: animatei 30s linear infinite;
  animation-delay: 3s;
  bottom: 0;
  @i;
  opacity: .36;
}
@keyframes animatei {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header-contant .wave1 {
  z-index: 1000;
  opacity: 1;
}
.header-contant .wave2 {
  z-index: 999;
  opacity: 0.9;
}
.header-contant .wave4 {
  animation: animatei 40s linear infinite;
  animation-delay: 4s;
  bottom: 0;
  @i;
  opacity: .46;
}
@keyframes animatei {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header-contant .wave1 {
  z-index: 1000;
  opacity: 1;
}
.header-contant .wave2 {
  z-index: 999;
  opacity: 0.9;
}

.animate {
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}

.skills-container {
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(white, #e5eaff);
  height: 85vh;
  padding-bottom: 6rem;
}
.skills-container-main {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.skills-container-title {
  color: #181920;
  font-size: 5rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: 300;
  transform: translate3d(-700px, 50px, 0);
  opacity: 0;
  transition: 1s;
  color: #ff5200;
  cursor: alias;
  width: 100%;
  padding: 0 2rem;
}
.skills-container-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  transform: translate3d(-700px, 50px, 0);
  opacity: 0;
  transition: 1s;
  position: absolute;
  z-index: 1;
  width: 1200px;
}

.skills-container-list:nth-child(1) {
  border: 5px solid #e91e63;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #e91e6294, white);
}
.skills-container-list:nth-child(1) h3 {
  font-size: 2rem;
  color: #e91e63;
}
.skills-container-list:nth-child(1) .icons {
  font-size: 4rem;
  color: #e91e63;
}
.skills-container-list:nth-child(1) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.skills-container-list:nth-child(2) {
  border: 5px solid #004dcf;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #004ccf94, white);
}
.skills-container-list:nth-child(2) h3 {
  font-size: 2rem;
  color: #004dcf;
}
.skills-container-list:nth-child(2) .icons {
  font-size: 4rem;
  color: #004dcf;
}
.skills-container-list:nth-child(2) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.skills-container-list:nth-child(3) {
  border: 5px solid #fccb00;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #fcca0094, white);
}
.skills-container-list:nth-child(3) h3 {
  font-size: 2rem;
  color: #fccb00;
}
.skills-container-list:nth-child(3) .icons {
  font-size: 4rem;
  color: #fccb00;
}
.skills-container-list:nth-child(3) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.skills-container-list:nth-child(4) {
  border: 5px solid #03a9f4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #03a8f494, white);
}
.skills-container-list:nth-child(4) h3 {
  font-size: 2rem;
  color: #03a9f4;
}
.skills-container-list:nth-child(4) .icons {
  font-size: 4rem;
  color: #03a9f4;
}
.skills-container-list:nth-child(4) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.skills-container-list:nth-child(5) {
  border: 5px solid orange;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #f4940394, white);
}
.skills-container-list:nth-child(5) h3 {
  font-size: 2rem;
  color: orange;
}
.skills-container-list:nth-child(5) .icons {
  font-size: 4rem;
  color: orange;
}
.skills-container-list:nth-child(5) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.skills-container-list:nth-child(6) {
  border: 5px solid purple;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 2rem;
  height: 250px;
  width: 250px;
  cursor: alias;
  background: linear-gradient(-30deg, #981ee994, white);
}
.skills-container-list:nth-child(6) h3 {
  font-size: 2rem;
  color: purple;
}
.skills-container-list:nth-child(6) .icons {
  font-size: 4rem;
  color: purple;
}
.skills-container-list:nth-child(6) li {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.about-container-bg {
  background: linear-gradient(#e5eaff, #8b8e94);
  min-height: 85vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translate3d(700px, 50px, 0);
  opacity: 0;
  transition: 1s;
}
.about-container-title {
  color: #181920;
  font-size: 3rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: 300;
  color: #ff5200;
}
.about-container-subtitle {
  color: #181920;
  font-size: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: 200;
  color: #181920;
  padding-bottom: 2rem;
}
.about-container-main {
  padding: 2rem;
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.about-container-main-image {
  width: 20%;
  max-width: 400px;
  height: 15%;
  max-width: 400px;
  border: 5px solid #FFF;
  border-radius: 90px;
  border-radius: 55% 20%;
}
.about-container-main-about {
  @indclude display-flex-column;
}
.about-container-main-presentation {
  font-size: 2rem;
  padding: 2rem;
  color: #181920;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*# sourceMappingURL=App.css.map */
