/*general Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.Select {
  opacity: 100% !important;
  color: white !important;
  font-size: 23px !important;
  font-weight: 600 !important;
  border-bottom: 3px solid #198754;
  padding: 15px 0px !important;
  transition: 0.5s;
}

.header-sections {
  color: #198754;
  padding: 5px;
  text-align: left;
}

.fita-trybe {
  width: 100%;
}

/*Header General Medias*/
header {
  display: flex;
  justify-content: space-around;
  background-color: #343a40;
  position: fixed;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s;
  z-index: 1;
  height: 80px;
  border-bottom: 10px solid #198754;

}

header:hover {
  opacity: 1;
}

header nav {
  width: 50%;
  height: 60px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

header a {
  align-self: center;
  font-weight: 600;
  color: white;
  font-weight: 600;
  opacity: 0.7;
  padding: 5px;
  margin: 15px;
  transition: 0.5s;
}

header a:hover {
  color: white;
  border-bottom: 5px solid #198754;
  font-size: 18px;
  opacity: 1;
}

header .img-trybe {
  align-self: center;
  padding: 10px;
  width: 70px;
  animation: myAnimation infinite 5s linear;
}

/*Hero-Page General Medias*/

.hero-page {
  background-image: url(Images/Hero.jpg);
  background-position-x: 90%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero-page p {
  font-size: 55px;
}

.hero-page img {
  justify-self: flex-end;
  align-self: flex-end;
  width: 40%;
  margin-bottom: 15%;
  margin-left: 300px;
}

.line {
  border-right: 6px solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.typing-animation {
  animation: myAnimationLine 1s infinite normal, disaberName 8s infinite normal steps(26);
}


@keyframes disaberName {
  0% {
    width: 0;
  }
  50% {
    width: 760px;
  }

  75% {
    width: 760px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes myAnimationLine {
  from {
    border-right-color: white;
  }

  to {
    border-right-color: transparent;
  }
}

/*About General Medias*/

.about {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 15px auto;
  text-align: center;
  min-height: 60vh;
}

.about h3{
  text-align: center;
}
.img-jv {
  width: 20%;
  max-width: 150px;
  border-radius: 10px;
}

/*Menu-Pontos General Medias*/

.more-mySelf {
  width: 100%;
  min-height: 100vh;
  margin: 25px 0;
}

.style-btn {
  border: 2px solid #198754;
  margin: 20px;
  padding: 15px 25px;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  transition: 1s;
}

.style-btn:hover {
  border: 0;
  border-bottom: 2px solid white;
  color: #198754;
  font-size: 18px;
}

.style-btn:focus {
  border: 0;
  border-bottom: 2px solid white;
  color: #198754;
  font-size: 18px;
  box-shadow: 5px 3px white;
}

.accordion-text-style {
  background-color: black;
  font-size: 25px;
  color: white;
  border: 2px solid;
  border-image: linear-gradient(45deg,white,#198754) 10;
  text-align: center;
  padding: 50px;
}

.sub-tiyle-accordion {
  color: #198754;
}

/*Project General Medias*/

.project {
  min-height: 900px;

}

.div-projects {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.div-projects div {
  margin: 10px 15px;
  opacity: 0.7;
  transition: 0.5s;
}

.div-projects div:hover {
  margin: 10px 15px;
  opacity: 1;
}

.style-title {
  color: #198754;
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
  transition: 0.5s;
}

.style-title:hover {
  font-size: 20px;
  border-bottom: 3px solid white;
}

.projects-apresent {
  display: flex;
  flex-flow: column wrap;
}

.projects-apresent hr {
  color: white;
}

.button-project {
  background-color: black;
  border: none;
}

.linksProject {
  width: 50%;
  color: #198754;
  font-size: 20px;
  margin: 30px 15px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 3px solid white;
  transition: 1s;
  opacity: 0.8;
  align-self: center;
}

.linksProject:hover {
  opacity: 1;
  color: white;
  font-weight: 600;
  border: 3px solid white;
  background: url( ./Images/Trybe-Logo.png);
  background-position: 90%;
  background-size: 50px;
  background-repeat: no-repeat;
}

.warning-project {
  font-size: 45px;
  margin: 50px;
  color: white;
  text-align: center;
}

.Carousel {
  border: 5px solid #198754;
  border-radius: 10px;
  width: 80%;
  margin: 25px auto;
}


/* Contatos General Medias */
.Contatos {
  margin: 25px 0;
  display: flex;
}

#contacts {
  height: 700px;
  
}

.text-animation {
  margin: 0 25px;
  overflow: hidden;
  width: 0;
  max-height: 350px;
} 

.text-animation {
  animation: disaberFraseContat 10s infinite linear;
}


@keyframes  disaberFraseContat {
  0% {
    width: 0;
  }
  15% {
    width: 760px;
  }
  85% {
    width: 760px;
  }
  100% {
    width: 0;
  }
}


.buttons-contatcs {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.buttons-contatcs .lead {
  font-size: 18px;
  width: 60%;
  align-self: center;
}

.buttons-contatcs .buttons {
  width: 50%;
  margin: 0px 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.buttons .btn-github,
.btn-linkedin {
  align-self: center;
  text-align: center;
  margin: 15px;
  padding: 15px;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  width: 250px
}


.buttons .btn-github {
  background: url(Images/GitHub.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 80px;
  transition: 0.5s;
}

.buttons .btn-github:hover {
  background: url(Images/GitHub.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 90px;
  font-size: 20px;
  background-color: white;
  color: black;
}

.buttons .btn-linkedin {
  background: url(Images/likedin.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 80px;
  transition: 0.5s;
}

.buttons .btn-linkedin:hover {
  background: url(Images/likedin.png);
  background-position: 110%;
  background-repeat: no-repeat;
  background-size: 80px;
  font-size: 20px;
  background-color: white;
  color: black;
}

/*Footer General Medias*/

footer {
  border-top: 20px solid #198754;
  background-color: #343a40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  color: #198754;
  font-size: 25px;
}

footer .logo-footer {
  width: 50px;
  margin: 0px 25px;
  animation: myAnimationFooter infinite 5s;
}

@keyframes myAnimationFooter {
  0% {
    width: 50px;
  }

  25% {
    width: 60px;
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


footer .gif-links {
  width: 60px;
  margin: 15px
}

footer .gif {
  width: 100px;
}


.icon-linkedin {
  font-size: 45px;
  color: rgb(0, 183, 255);
}


.icons-rocket {
  font-size: 30px;
}

/*Media Query SmartPhone*/

@media screen and (max-width: 900px) {

  /*Header SmartPhone Medias*/

  header a {
    font-size: 15px;
  }

  header .img-trybe {
    width: 60px;
  }

  /*Hero-Page SmartPhone Medias*/

  .hero-page {
    background-position-x: 95%;
  }

  .hero-page p {
    font-size: 30px;
  }

  .hero-page img {
    width: 70%;
  }

  @keyframes disaberName {
    0% {
      width: 0;
    }
    50% {
      width: 415px;
    }
  
    75% {
      width: 415px;
    }
    
    100% {
      width: 0;
    }
  }

  /*About SmartPhone Medias*/

  .about {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
  
  .about section p{
    margin: 0;
  }
  .img-jv {
    width: 20%;
    max-width: 150px;
    border-radius: 10px;
  }

  /*Mais Sobre Mim SmartPhone Medias*/

  .buttons-Links {
    display: flex;
    flex-flow: column wrap;
  }
  .style-btn {
    font-size: 15px;
  }

/*Project General Medias*/


.div-projects {
  justify-content: space-evenly;
}

.linksProject {
  font-size: 18px;
}


.warning-project {
  font-size: 35px;
}

.Carousel {
  width: 98%;
}

.header-carousel {
  font-size: 20px;
}

/*Contatos SmartPhone Medias*/

.buttons-contatcs {
  flex-direction: column;
  align-items: center;
}

/*Footer SmartPhone Medias*/

footer {
  font-size: 20px;
}

footer .logo-footer {
  animation: myAnimationFooter infinite 5s;
}

@keyframes myAnimationFooter {
  0% {
    width: 30px;
  }

  25% {
    width: 50px;
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


footer .gif-links {
  width: 50px;
  margin: 10px
}


.icon-linkedin {
  font-size: 40px;
}


.icons-rocket {
  font-size: 20px;
}

}